* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.0em;
}

/* Acessibilidade */
a:focus, input:focus, button:focus {
  outline: 2px solid #000; /* Cor de contraste alta */
}
.caixa h2, .caixa h3, .caixa p {
  margin-bottom: 0.5em;
}
.enabled {
  opacity: 50%;
  transition: opacity 0.3s; /* Adiciona uma transição suave */
}
.enabled:hover {
  opacity: 100%;
}
.active {
  opacity: 100%;
}

/* Painel de navegação Horizontal */
header {
  order: 1;
  display: flex;
  width: 100%;
  height: 230px;
  background: url(./img/fundo.png) bottom repeat-x;
  justify-content: center;
  min-width: 740px;
}
nav#nav-horizontal {
  z-index: 1;
  display: flex;
  position: relative;
  right: 10px;
  text-align: center;
  height: 30px;
  margin-top: 130px;
}
nav#nav-horizontal a {
  height: 40px;
  display: block;
  line-height: 0px;
  padding: 20px 25px;
  color: white;
  text-decoration: none;
  background: rgb(171, 19, 19);
  font-weight: bold;
}
a#nav-home {
  background-color: #6c0220;
  cursor: text;
}
nav#nav-horizontal a:hover {
  background-color: brown;
}

/* Botao de alto-contraste */
#toggle-contrast {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  z-index: 1000;
}

#toggle-contrast:hover {
  background-color: #555;
}

/* IMGs do Painel Horizontal */
.img-logo {
  order: 0;
  position: relative;
  top: 10%;
  left: 100px;
}
.img-logo img {
  width: 150px;
  height: 70px;
}
.img-brasil {
  position: relative;
  right: 70px;
  order: 2;
}
.img-brasil img {
  width: 170px;
  height: 170px;
}

/* Pagina de conteudos (contem as Divs de conteudo) */

/* Estilo das caixas em geral */
.caixa {
  width: 100%;
  background: url(./img/fundo-caixa.png);
  padding: 5px;
  margin-bottom: 15px;
  text-align: left;
}
.caixa h2 {
  font-size: 1em;
  background: #294c71;
  color: #fff;
  padding: 5px;
}
.caixa h3 {
  display: inline-block;
  color: white;
  background-color: #820404e9;
  padding: 3px;
  font-size: 0.8em;
  text-transform: uppercase;
}

/* Caixa de Conteudos-Principais (para centralizar) */
main.conteudos-principais {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 15px;
  margin-top: 15px;
}

/* 1 coluna (size e position) */
.coluna1 {
  width: 180px;
}

/* Estilo das caixas verticais */
.caixa.caixa-vertical {
  width: 180px;
  float: left;
}

/* Caixa entrevistas */
.entrevistas {
  background-color: white;
}
.entrevistas a {
  font-size: 0.9em;
  display: block;
  padding: 3px;
  line-height: 30px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #f3f3f3;
}
.entrevistas a:hover {
  background: url(./img/marcador.png) no-repeat left;
  padding-left: 20px;
  color: #a1a1a1;
}

/* Caixa news */
.formulario {
  background-color: white;
  padding: 5px;
}
.formulario input[type="text"] {
  border: 2px solid black;
  width: 130px;
  height: 25px;
  padding: 5px;
}
.formulario input[type="submit"] {
  background-color: #820404e9;
  color: white;
  border: 2px solid black;
  width: 70px;
  height: 28px;
  padding: 5px;
}

/* Coluna 2 */
.coluna2 {
  width: 270px;
}

/* Caixas Superiores */
.caixa .caixa-superior img {
  width: 100%;
}
.caixa-superior a {
  color: #9c0101e9;
}

/* Caixa Destaque (Pag Principal) */
.caixa-superior.pag-principal {
  background-color: white;
  padding: 5px;
}

/* Coluna 2 (Pag Brasil) */
#brasil .coluna2 {
  width: 555px;
}
a#nav-brasil {
  background: #6c0220;
  cursor: text;
}

/* Caixa Destaque (Pag fotos) */
#fotos .coluna2 {
  width: 750px;
}
a#nav-fotos {
  background: #6c0220;
  cursor: text;
}

/* Caixa Ultima entrevista */

/* Caixas Inferiores */
/* Caixa Mundo e Noticias Recentes */
.caixa-inferior {
  display: block;
  background-color: white;
}
.lista-noticias li {
  list-style: none;
  padding: 2px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.lista-noticias li a {
  text-decoration: none;
}
.lista-noticias li a img {
  float: left;
  padding: 3px 3px 0;
  width: 80px;
}
.lista-noticias li a h4 {
  font-size: 0.8em;
  padding: 0;
  color: #3e7ab9;
}
.lista-noticias li a p {
  font-size: 0.7em;
  color: #000;
}

/* Rodapé */
footer.rodape {
  width: 100%;
  background-color: #294c71;
  color: white;
  height: 70px;
  line-height: 70px;
  padding-left: 50px;
}


/* ALTO CONTRASTE */
/* Estilos para Modo de Alto Contraste */
body.high-contrast {
  background-color: #000;
  color: #fff;
}

body.high-contrast .caixa.caixa-vertical a {
  color: #ffff00;
  font-size: 16px;
}
body.high-contrast #title-email{
  background-color: #000;
  color: #ffffff;
  padding: 3px;
  margin-bottom: 5px;
  display: inline-block;
}

body.high-contrast header {
  background-color: #000;
}

body.high-contrast .caixa {
  background-color: #000;
  border: 2px solid #fff;
}
body.high-contrast .caixa-superior,
body.high-contrast .caixa-inferior{
  background-color: #000;
}

body.high-contrast .caixa h2,
body.high-contrast .caixa h3,
body.high-contrast .caixa p {
  color: #fff;
  font-weight:bold;
}
body.high-contrast .caixa p {
  font-size: 14px;
}

body.high-contrast .caixa h2 {
  background-color: #000;
}

body.high-contrast .caixa h3 {
  background-color: #333;
}

body.high-contrast .caixa h4 {
  color: #0077ff;
  font-size: 14px;
}

body.high-contrast .entrevistas {
  background-color: #000;
}

body.high-contrast .caixa a {
  color: #ffff00;
}

body.high-contrast .caixa a:hover {
  color: #ff0;
}


body.high-contrast img {
  filter: invert(1) hue-rotate(180deg);
}

/* Estilos adicionais para garantir que todos os elementos sejam legíveis em alto contraste */
body.high-contrast input,
body.high-contrast button,
body.high-contrast select,
body.high-contrast textarea {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

body.high-contrast input::placeholder,
body.high-contrast textarea::placeholder {
  color: #ccc;
}

body.high-contrast nav#nav-horizontal a {
  background: #000;
  color: #fff;
}

body.high-contrast nav#nav-horizontal a:hover {
  background-color: #555;
}

/* Rodapé */
body.high-contrast footer.rodape {
  background-color: #000;
  color: #fff;
}


.rodape{
  text-align: center;
}

.galeria_de_imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container {
  position: relative;
  margin: 10px;
}

.image-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  bottom: 5px; /* Positioning the tooltip in the bottom corner */
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  display: none; /* Hidden by default */
}

.image-container:hover .tooltip {
  display: block; /* Show tooltip on hover */
}